#Junk Files
*.DS_Store
[Tt]humbs.db

#Log Folder
[Ll]og

#server
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
[Cc]lient[Bb]in
[Gg]enerated_[Cc]ode
[Oo]utput
[Ss]ql
[Gg]enerated [Ff]iles
ipch
AppPackages
.vs
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.schemaview
*.Publish.xml
*.manifest
*.xap
*.sdf
*.opensdf
*.filters



#client
e2e/
node_modules/

